.mouse-cursor-gradient-tracking {
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  outline: none;
  overflow: hidden;
  overflow-x: hidden !important;
}

.mouse-cursor-gradient-tracking span {
  position: relative;
}

.mouse-cursor-gradient-tracking:before {
  --size: 2000px;
  content: '';
  position: absolute;
  pointer-events: none;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, rgba(30, 215, 96, 0.1), transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;

}

.mouse-cursor-gradient-tracking:hover:before {
  --size: 2000px;
}

body {
  scroll-behavior: smooth;
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  .mouse-cursor-gradient-tracking:before {
    --size: 0px;

  }

  .mouse-cursor-gradient-tracking:hover:before {
    --size: 0px;
  }
}

/* Media query for tablets and other touch devices */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .mouse-cursor-gradient-tracking:before {
    --size: 0px;
  }

  .mouse-cursor-gradient-tracking:hover:before {
    --size: 0px;
  }
}