#macy {
    transition: all 2s;
    animation-duration: all 500ms;
    transition-timing-function: linear;
}

/* .show {
    opacity: 1 !important;
} */

.box img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
}

.hovereffect {
    background-image: linear-gradient(to right,
            #1ed760,
            #1ed760 50%,
            #FFF 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

.hovereffect:before {
    content: '';
    background: #1ed760;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.hovereffect:hover {
    background-position: 0;
}

.hovereffect:hover::before {
    width: 100%;
}