#macy {
    opacity: 0;
    transition: all 2s;
    animation-duration: all 500ms;
}

.show {
    opacity: 1 !important;
}

.box img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
}